body {
    padding: 0;
    margin: 0;
    background: #cbd5c0;
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Archivo';
    src: url('fonts\\Archivo-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 1 1000;
}

@font-face {
    font-family: 'Archivo';
    src: url('fonts\\Archivo-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 1 1000;
}

@font-face {
    font-family: 'LibreBaskerville';
    src: url('fonts/LibreBaskerville-Regular.ttf') format('truetype-variations');
    font-weight: 1 1000;
}

@font-face {
    font-family: 'LibreBaskerville-Italicize';
    src: url('fonts/LibreBaskerville-Italic.ttf') format('truetype-variations');
    font-weight: 1 1000;
}

.archivo {
    font-family: 'Archivo', sans-serif;
    font-feature-settings: "calt" 1, "rlig" 1, "kern" 1, "rclt" 1, "liga" 1, "onum" 1, "zero" 1, "rvrn" 1;
}

.libre-baskerville {
    font-family: 'LibreBaskerville', sans-serif;
}

/* Navigation */
.navbar {
    transition: 0.5s;
}

.navbar-scrolled {
    background-color: #2d2f2c;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15)
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
    margin-left: 1em !important;
    font-size: 1.1em;
}

.nav-link:hover {
    color: grey;
    transition: all 0.1s ease-out;
}

.nav-link:active {
    color: fff;
    transition: all 0.1s ease-out;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav.ml-auto {
    display: flex;
    align-items: center;
}

#main-navigation-left {
    justify-content: flex-end;
}

.ac {
    height: 60px;
    max-width: 100%;
    /* border-radius: 25%; */
}

.nav-text {
    font-weight: 900px !important;
}


/* Body */

.about-body {
    margin-top: 76px;
}

/* Footer */
.footer {
    transition: .5s;
}

.footer-basic {
    background-color: #758467;
}
