body {
    padding: 0;
    margin: 0;
    background: #dbe0d7;
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Archivo';
    src: url('fonts\\Archivo-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 1 1000;
}

@font-face {
    font-family: 'Archivo';
    src: url('fonts\\Archivo-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 1 1000;
}

.archivo {
    font-family: 'Archivo', sans-serif;
    font-feature-settings: "calt" 1, "rlig" 1, "kern" 1, "rclt" 1, "liga" 1, "onum" 1, "zero" 1, "rvrn" 1;
}

/* Navigation */
.navbar {
    transition: 0.5s;
}
.navbar-scrolled {
    background-color: #2d2f2c;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15)
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
    margin-left: 1em !important;
    font-size: 1.1em;
}

.nav-link:hover {
    color: grey;
    transition: all 0.1s ease-out;
}

.nav-link:active {
    color: fff;
    transition: all 0.1s ease-out;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav.ml-auto {
    display: flex;
    align-items: center;
}

#main-navigation-left {
    justify-content: flex-end;
}

.ac {
    height: 60px;
    max-width: 100%;
    /* border-radius: 25%; */
}

/* Landing Page */
.header {
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 15%;
    padding-left: 15%;
    padding-right: 15%;
    background-image: url('images\\bgimage2.jpg');
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.pfp {
    position: flex;
    padding-top: auto;
    padding-bottom: auto;
    margin: 10%;

}

.description {
    position: flex;
    text-align: center;
    top: 100%;
    padding-top: auto;
    padding-bottom: auto;
    z-index: 1;
}

.description h1 {
    color: #f8f8f8;
    font-weight: 700;
    font-size: 350%;
}

.description h5 {
    color: #dee1e3;
    font-size: 125%;
}

.description button {
    border: 3px solid rgba(117, 132, 103, 0.8);
    border-radius: 100px;
    color: #dee1e3;
    margin: 5px;
}

.description button:hover {
    border: 3px solid #f8f8f8;
    background: #f8f8f8;
    color: #333333;
}

.img-cover {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.headingleft {
    display: flex;
    align-items: center;
}
.headingright {
    display: flex;
    align-items: center;
}

/* 3-grid Features */
.features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
}

.feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.features img {
    /* -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4); */
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}

/* Experiences */

.experiences {
    padding: 10%;
    background-color: red;
    width: fit-content
}

.experience-bullet {
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
}

.experience-details {
    background-color: aqua;
}

.experience-image {
    background-color: orange;
    object-fit:cover;

}