body {
    padding: 0;
    margin: 0;
    background: #dbe0d7;
}
/* Navigation */
.navbar {
    background:#2d2f2c;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
    margin-left: 1em !important
}
.nav-link:hover {
    color: grey;
}
.navbar-collapse {
    justify-content: flex-end;
}
.navbar-nav.ml-auto {
    display: flex;
    align-items: center;
}
#main-navigation-left {
    justify-content: flex-end;
}
.ac {
    height: 70px;
    max-width: 100%;
}
/* Landing Image */
.header {
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 15%;
    padding-left: 25%;
    padding-right: 25%;
    background-image: url('images\\bgimage2.jpg');
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}
/* Header */
/* .description {
	left: 50%;
	position: absolute;
	top: 45%;
	text-align: center;
} */
.pfp {
    position: flex;
    padding-top: auto;
    padding-bottom: auto;
    margin: 10%;
}
.description{
    position: flex;
    text-align: center;
    top: 100%;
    padding-top: auto;
    padding-bottom: auto;


}
.description h1 {
	color: #f8f8f8;
}
.description h4 {
	color: #dee1e3;
	font-size: 1.3rem;
	line-height: 1.5;
}
.description button {
    border:1px solid rgba(0, 0, 0, 0);
    background:rgba(0, 0, 0, 0);
    border-radius: 2;
    color:#f8f8f8;
    font-weight: bold;
}
.description button:hover {
	border:1px solid #f8f8f8;
    background:#f8f8f8;
    color:#333333;
}
.img-cover {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.headingleft {
    display: flex;
    align-items: center;
}

/* 3-grid Features */
.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.features img {
	/* -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4); */
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}
