@media (prefers-reduced-motion: reduce) {
    .btn {
      transition: none;
    }
  }

body {
    padding: 0;
    margin: 0;
    background: #f6f6f5;
    
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Archivo';
    src: url('fonts\\Archivo-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 1 1000;
}

@font-face {
    font-family: 'Archivo';
    src: url('fonts\\Archivo-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 1 1000;
}

@font-face {
    font-family: 'LibreBaskerville';
    src: url('fonts/LibreBaskerville-Regular.ttf') format('truetype-variations');
    font-weight: 1 1000;
}

@font-face {
    font-family: 'LibreBaskerville-Italicize';
    src: url('fonts/LibreBaskerville-Italic.ttf') format('truetype-variations');
    font-weight: 1 1000;
}

.archivo {
    font-family: 'Archivo', sans-serif;
    font-feature-settings: "calt" 1, "rlig" 1, "kern" 1, "rclt" 1, "liga" 1, "onum" 1, "zero" 1, "rvrn" 1;
}

.libre-baskerville {
    font-family: 'LibreBaskerville', sans-serif;
}

.libre-baskerville-bold {
    font-family: 'LibreBaskerville-Bold', sans-serif;
}


.accent-color { 
    color: #F46036;
}


/* Navigation */
.navbar {
    transition: 0.5s;
}

.navbar-scrolled {
    background-color: #2B3B2D;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15)
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    padding-right: 1em !important;
    padding-left: 1em !important;
    font-size: 1.1em;
    will-change: transform;
    transition: transform 125ms;
    
}

.nav-item {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.nav-link:hover {
    color: white;
    transition: all 0.1s ease-out;
}

.navbar-nav .nav-item {
    border: 3px solid transparent; /* Set a transparent border */
    border-radius: 5px;
    transition: border-color 0.3s ease; /* Add a transition for border-color property */
    will-change: transform;
    transition: transform 250ms;
}
.navbar-nav .nav-item:hover {
    border-color: #F46036; /* Set the desired border color on hover */
    transition: transform 125ms;  
    transform: translateY(-2.5px);
}

.nav-link:active {
    color: #BB4430;
    transition: all 0.1s ease-out;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav.ml-auto {
    display: flex;
    align-items: center;
}

#main-navigation-left {
    justify-content: flex-end;
}

.ac {
    height: 60px;
    max-width: 100%;
    /* border-radius: 25%; */
}

.nav-text {
    font-weight: 900px !important;
}

/* Body */

.card-deck {
    display: flex;
    flex-wrap: wrap; /* Allows the cards to wrap onto a new line */
    gap: 2rem;
    justify-content: center; /* Centers the cards horizontally */
    padding: 20px; /* Adjust padding as needed */
}

.container {
    padding-top: 100px;
    padding-bottom: 30px;

}

.projects-header{
    font-weight: 800;
    font-size: 300%;
    color: #292D26;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 40px;
}

/* Style for the image container */
.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem; /* Add border-radius to match the card */
    height: 200px; /* Adjust the height to match your desired size */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for both the original image and GIF */
.image-container img,
.image-container .gif {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain; /* Maintain aspect ratio and fit within the container */
}

/* Style for the GIF overlay */
.image-container .gif {
    position: absolute;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.2s ease-in-out;
}

/* Show the GIF on hover */
.image-container:hover .gif {
    opacity: 1;
}

.card-footer-css {
    background-color: white;
}


/* Footer */
.footer {
    transition: .5s;
}

.footer-basic {
    background-color: #2B3B2D;
    
}

.footer-text {
    color: #BAC1BA;    
    text-decoration: none;
}

.footer-text:hover {
    color: #BB4430
}